.App {
  text-align: center;
}

.App-header {
  margin-top: 20px;
}

.word-container {
  margin: 20px;
  font-size: 2em;
}

.buttons button {
  margin: 10px;
}

.message {
  margin-top: 20px;
  font-weight: bold;
}
